<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= plant.name %> </title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="blurr hidden"></div>
    <section id="plant">
        <img src=<%= plant.picture %> alt="">
        <h3><%= plant.name %> </h3>
        <h4><%= plant.species %> </h4>
        <div class="plantFlex">
            <h4>Schedule:</h4>
            <div class="schedule">
                <% plant.schedule.forEach(day => { %>
                <p><%= day %> </p>
                <% }) %>
            </div>
        </div>
        <a href="/deletePlant/<%= plant._id %> " class="mint">Delete</a>
        <a href="#" class="mint" onclick="showForm()">Edit</a>
    </section>
    <section id="new" class="hidden">
        <form action="/editPlant/<%= plant._id %>" method="POST">
            <div class="formFlex">
                <h1>Edit Plant</h1>
                <h6 onclick="showForm()">x</h6>
            </div>
            <input type="text" name="name" id="name" value=<%= plant.name %>>
            <input type="text" name="species" id="species" value=<%= plant.species %>>
            <input type="text" name="picture" id="formPicture" value=<%= plant.picture %>>
            <p>Watering Schedule</p>
            <div class="weekDays-selector">
                <input type="checkbox" name="schedule" id="weekday-mon" value="Montag">
                <label for="weekday-mon">M</label>
                <input type="checkbox" name="schedule" id="weekday-tue" value="Dienstag">
                <label for="weekday-tue">T</label>
                <input type="checkbox" name="schedule" id="weekday-wed" value="Mittwoch">
                <label for="weekday-wed">W</label>
                <input type="checkbox" name="schedule" id="weekday-thu" value="Donnerstag">
                <label for="weekday-thu">T</label>
                <input type="checkbox" name="schedule" id="weekday-fri" value="Freitag">
                <label for="weekday-fri">F</label>
                <input type="checkbox" name="schedule" id="weekday-sat" value="Samstag">
                <label for="weekday-sat">S</label>
                <input type="checkbox" name="schedule" id="weekday-sun" value="Sonntag">
                <label for="weekday-sun">S</label>
            </div>
            <input type="submit" value="Edit">
        </form>
    </section>
    <div class="navigation"><%-include('./partials/navigation')%></div>
    <script>
        const blurr = document.getElementsByClassName('blurr')
        const form = document.getElementById('new')
        function showForm() {
            form.classList.toggle("hidden")
            for (i = 0; i < blurr.length; i++) {
                blurr[i].classList.toggle("hidden")
            }
        }
    </script>
</body>

</html>