<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= room.name %> </title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/styletest.css">
</head>

<body>
    <div class="blurr hidden"></div>
    <article class="headerflex">
        <div>
            <h1><%= room.name %> </h1>
        </div>
        <div><img src="/icons8-pluss.svg" alt="" onclick="showForm()" /></div>
    </article>
    <section id="roomGrid">
        <% plants.forEach(plant => { %>
        <a href="/plant/<%= plant._id %> ">
            <div class="plantCard">
                <img src=<%= plant.picture %> alt="">
                <p><%= plant.name %> </p>
            </div>
        </a>
        <% }) %>
    </section>
    <section id="new" class="hidden">
        <form action="/newPlant/<%= room._id %>" method="POST">
            <div class="formFlex">
                <h1>Add Plant</h1>
                <h6 onclick="showForm()">x</h6>
            </div>
            <input type="text" name="name" id="name" placeholder="Plant name">
            <!-- <input type="text" name="species" id="species" placeholder="Species"> -->
            <select id="species" name="species">
                <option value="seed">Seed</option>
                <option value="cactus">Cactus</option>
                <option value="seedless">Seedless</option>
                <option value="plant">Plant</option>
            </select>
            <input type="text" name="picture" id="formPicture" placeholder="picture">
            <input type="file" accept="image/*" capture="camera" />
            <p>Watering Schedule</p>
            <div class="weekDays-selector">
                <input type="checkbox" name="schedule" id="weekday-mon" value="Montag">
                <label for="weekday-mon">M</label>
                <input type="checkbox" name="schedule" id="weekday-tue" value="Dienstag">
                <label for="weekday-tue">T</label>
                <input type="checkbox" name="schedule" id="weekday-wed" value="Mittwoch">
                <label for="weekday-wed">W</label>
                <input type="checkbox" name="schedule" id="weekday-thu" value="Donnerstag">
                <label for="weekday-thu">T</label>
                <input type="checkbox" name="schedule" id="weekday-fri" value="Freitag">
                <label for="weekday-fri">F</label>
                <input type="checkbox" name="schedule" id="weekday-sat" value="Samstag">
                <label for="weekday-sat">S</label>
                <input type="checkbox" name="schedule" id="weekday-sun" value="Sonntag">
                <label for="weekday-sun">S</label>
            </div>
            <input type="submit" value="Add">
        </form>
    </section>
    <div class="navigation"><%-include('./partials/navigation')%></div>

    <script>
        const blurr = document.getElementsByClassName('blurr')
        const form = document.getElementById('new')
        function showForm() {
            form.classList.toggle("hidden")
            for (i = 0; i < blurr.length; i++) {
                blurr[i].classList.toggle("hidden")
            }
        }
    </script>
</body>

</html>